# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# solana anchor Anchor is a framework for Solana's Sealevel runtime
# providing several convenient developer tools for writing smart contracts.
# More details at https://github.com/coral-xyz/anchor

name: deploy-to-apr

on:
  push:
    branches: ["main"]

jobs:
  publish-to-apr:
    name: Publish to apr.dev
    runs-on: ubuntu-latest
    container: projectserum/build:v0.25.0
    env:
#       HOME: /root
      ENV_SECRET: ${{ secrets.MY_SECRET }}
#         permissions:
#           contents: read
#           security-events: write
#           actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status
    steps:
      - run: ls -la ~
      - run: pwd
      - run: tree ~
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Add docker config
        run: cp -r /github/home/.docker /root
      - name: Add keypair
        run: echo ${{ secrets.SOLANA_KEYPAIR_JSON }} > $HOME/.config/solana/id.json
      - name: Run anchor test
        run: yarn; anchor test
      - name: Anchor Login
        run: anchor login ${{ secrets.ANCHOR_PUBLISH_TOKEN }}
      - name: Point to Mainnet (required for publishing)
        run: sed -i 's/^cluster = ".*/cluster = "mainnet"/' Anchor.toml
      - name: Publish Source Code
        run: yes 'yes' | anchor publish starter_project --skip-build
